<div ng-app="Cossak" ng-controller ="BaseCtrl">
    <h1>Hello World</h1>
    <ul>
      <li ng-repeat="thing in things"></li>
      <span>{{thing.name}}</span>

    </ul>
</div>

<script>
    angular.module('Cossak', []);
    angular.module('Cossak').controller('BaseCtrl', ['$scope', function ($scope){

    $scope.things = [{
      id: 235935923579
      name: 'foo'
    }];
}]);

</script>

