<div ng-app="Cossak" ng-controller ="BaseCtrl">
    <h1>Hello World</h1>
    <ul>
      <li ng-repeat="thing in things"></li>
      <span>{{thing.name}}</span>

    </ul>
</div>

<script>

</script>

